[submodule "GenericEmbeddableDoublyLinkedList"]
    path = GenericEmbeddableDoublyLinkedList
	url = https://github.com/harshithsunku/GenericEmbeddableDoublyLinkedList

[submodule "ThreadSafeCLogger"]
    path = ThreadSafeCLogger
	url = https://github.com/harshithsunku/ThreadSafeCLogger

[submodule "GenericCShellParserLib"]
	path = GenericCShellParserLib
	url = https://github.com/harshithsunku/GenericCShellParserLib
